<!DOCTYPE html>
<html class="newpublisher" id="newBackground" style="background: url(http://a.xnimg.cn/n/core/cssimg/bg-v7.png) 50% 0% repeat-y scroll transparent;">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>人人网</title>
<link rel="shortcut icon" type="image/x-icon" href="http://a.xnimg.cn/favicon-rr.ico?ver=3">
<link rel="apple-touch-icon" href="http://a.xnimg.cn/wap/apple_icon_.png">

<link href="http://s.xnimg.cn/a68568/n/core/home-frame2-all-min.css" rel="stylesheet">
<link ui-rel="prefetchframe" rel="stylesheet" href="http://s.xnimg.cn/a69112/apps/home/home-all-min.css">
</head>
<body class="layout_home3cols">
<div id="dropmenuHolder" class="dropmenu-holder dropmenu-holder-new rr">
<div id="accountDropDownMenu" class="menu-dropdown" style="display: none">
<div class="menu-dropdown-border">
<div class="account-menu">
<div class="accounts" id="otherAccount" style="display:none"></div>
<div class="optionmenu options">
<ul>
<li><a class="optionprivacy" href="http://safe.renren.com/">帐户设置</a></li>

<li><a class="optiondressup" onclick="switchSkin();return false;" href="http://www.renren.com/481156427#">首页换肤</a></li></ul>
</div><div class="optionsupport"><a href="http://help.renren.com/helpcenter">联系客服</a></div>
<a accesskey="0" href="http://www.renren.com/Logout.do?requesttoken=-398063365" class="logout">退出</a>
</div>
</div>
</div>
<div id="appsMenuPro" class="menu-dropdown" style="position: absolute; display: block; z-index: 10001; left: -9999px; top: -9999px; "></div></div>
<div class="site-nav-wrapper">
<div id="navBar" class="site-nav fixed">
<div id="navigation-for-buddylist">
<div class="navigation-wrapper">
<div class="navigation navigation-new clearfix">
<div id="logo2"><h1><a href="http://www.renren.com/" title="人人网 renren.com - 人人网校内是一个真实的社交网络，联系朋友，一起玩游戏"><img alt="人人网 renren.com - 人人网校内是一个真实的社交网络，联系朋友，一起玩游戏" title="人人网 renren.com - 人人网校内是一个真实的社交网络，联系朋友，一起玩游戏" height="31" width="160" src="./人人网 - 徐毅_files/logo.png"></a></h1></div><div class="nav-body clearfix">
<div class="nav-main">
	<div class="menu">
<div class="menu-title">
<a accesskey="1" href="./人人网 - 徐毅_files/人人网 - 徐毅.html" ui-async="async"><span class="menu-title-text" stats="V6Hd_home">首页</span></a></div>
</div><div class="menu">
<div id="profileMenuActive" class="menu-title"><a id="showProfileMenu" accesskey="2" href="http://www.renren.com/profile.do?id=481156427"><span stats="V6Hd_Profile" class="menu-title-text">个人主页</span><span class="nav-drop-menu-btn"></span></a></div>
</div>
<div class="menu"><div class="menu-title" id="friendMenuActive"><a id="showFriendMenu" accesskey="3" href="http://friend.renren.com/myfriendlistx.do"><span class="menu-title-text" stats="V6Hd_frd">好友</span></a></div>
</div>							
<div class="menu">

</div>											 </div><div class="nav-other">
<div id="navMessage">
<span class="remind" title="提醒">
<a href="http://www.renren.com/481156427#nogo" onclick="return false;" hidefocus="true">&nbsp;</a>
<i style="display: none;"><u><b>&nbsp;</b><var>0</var></u><em>&nbsp;</em></i></span>
<span class="apply" title="朋友">
<a href="http://www.renren.com/481156427#nogo" onclick="return false;" hidefocus="true">&nbsp;</a>
<i style="display: none;"><u><b>&nbsp;</b><var>0</var></u><em>&nbsp;</em></i></span>
<span class="notice" title="通知">
<a href="http://www.renren.com/481156427#nogo" onclick="return false;" hidefocus="true">&nbsp;</a>
<i style="display: none;"><u><b>&nbsp;</b><var>0</var></u><em>&nbsp;</em></i></span></div>
<div id="navSearch_new" class="navSearch">
<input stats="Hd_sInput" type="text" maxlength="100" id="navSearchInput" class="navSearchInput" accesskey="/" name="q" defaultval="找人、视频、日志、照片" value="找人、视频、日志、照片" tabindex="1" autocomplete="off">
<a href="javascript:;" id="searchBtnAC" class="searchBtnAC">搜索</a>
</div><div class="menu account-action" id="accountMenu">
<div class="menu-title"><a href="http://www.renren.com/481156427#" onclick="return false;">帐号</a></div>
</div></div>
</div>
</div>
<div class="nav-drop-menu-holder" id="navDropMenuHolder"><div class="nav-drop-menu nav-drop-menu-profile" id="navProfileDropMenu"><a class="nav-drop-menu-item" href="http://i.renren.com/store/view/home?wc=10000"><img src="./人人网 - 徐毅_files/Vipdraw.gif" class="icon"> 装扮主页</a>
<a class="nav-drop-menu-item" href="http://www.renren.com/profile.do?id=481156427&v=info&act=edit"><img src="./人人网 - 徐毅_files/account.gif" class="icon"> 修改资料</a></div>
<div class="nav-app-drop-menu nav-app-drop-menu-a" id="appsMenuWrap"></div></div>
</div>
</div>
</div>
</div>
<div id="container-for-buddylist"><div id="container"><div id="header" class="clearfix">
<div class="header-wrapper"><div class="site-header clearfix">
<div class="user-info clearfix">
<a href="http://photo.renren.com/getalbumprofile.do?owner=481156427" class="avatar">
<img src="./人人网 - 徐毅_files/tiny_n1ce_5e220000c50a1375.jpg" width="50" height="50">
</a>
<div class="info">
<div class="user-name">
<a href="http://www.renren.com/profile.do?id=481156427" class="name" title="徐毅">徐毅</a>
</div></div>
</div>
<div id="global-publisher" class="global-publisher-box">
<div class="global-publisher-module" data-publishtogroupsapi="http://shell.renren.com/481156427/channel">
<form class="status-global-publisher" action="http://shell.renren.com/481156427/status" method="post" novalidate="novalidate">
<div id="global-publisher-status-box" class="global-publisher-status-box">
<article id="global-publisher-status">
<section>
<div class="editor-box">
<div class="status-editor">
<div class="status-inputer">
<dl class="global-publisher-selector">
<dd class="global-publisher-selector-status active">
<a class="global-publisher-status-trigger" href="http://www.renren.com/481156427#nogo" onclick="return false;">发状态</a>
</dd>
<dd class="global-publisher-selector-photo">
<a class="global-publisher-photo-trigger" href="http://www.renren.com/481156427#nogo" onclick="return false;">传照片</a>
</dd><dd class="global-publisher-selector-share">
<a class="global-publisher-share-trigger" href="http://www.renren.com/481156427#nogo" onclick="return false;">发分享</a>
</dd>
<dd class="global-publisher-selector-film">
<a class="global-publisher-film-trigger" href="http://www.renren.com/481156427#nogo" onclick="return false;">评电影</a>
</dd><dd class="global-publisher-selector-blog global-publisher-selector-last">
<a class="global-publisher-blog-trigger" href="http://blog.renren.com/blog/0/addBlog?bfrom=011200091">写日志</a>
</dd></dl>
<div class="status-textarea">
<textarea name="content" class="status-content" defaultpos="" defaultmodule="" placeholder="你正在干嘛？"></textarea>
</div>
<div class="status-toolbar" style="display: none">
<div data-option="{&quot;con&quot;: &quot;with_470947981&quot;, &quot;btn&quot;: &quot;with_470947981_btn&quot;}" id="with_470947981" class="ugc-with-input"></div>
<a data-option="{&quot;con&quot;: &quot;with_470947981&quot;, &quot;btn&quot;: &quot;with_470947981_btn&quot;}" class="ugc-with-btn" id="with_470947981_btn" href="http://www.renren.com/481156427#nogo">
和谁</a>
<!-- with引导弹層 --><a class="emotion-button" href="http://www.renren.com/481156427#emotion"> 表情</a><!-- 大表情引导icon -->
<span class="publisher-emotion-tip"></span><input class="speech-button" style="display: none;" type="text" x-webkit-speech="speech" lang="zh_CN" title="语音输入">
<div class="chars-info" style="display: none">
<span class="chars-remain">240</span>
</div>
</div>
</div>
<div class="global-publisher-modules-box">
<menu>
<li><a class="close" style="display: none;" href="http://www.renren.com/481156427#" onclick="return false;">关闭</a></li>
</menu><div style="display: none" class="global-publisher-module-box" id="global-publisher-film-box">
<article class="global-publisher-film" id="global-publisher-film">
<section>
<div style="display: none" class="film-inputer-box"></div>
<div style="display: none" class="film-list-box"></div>
</section>
</article>
</div>
<div id="global-publisher-video-box" class="global-publisher-module-box" style="display: none">
<article id="global-publisher-video" class="global-publisher-share">
<section>
<div class="input-link-box" style="display: none"></div>
<div class="input-comment-box" style="display: none"></div>
</section>
</article>
</div>
<div id="global-publisher-music-box" class="global-publisher-module-box" style="display: none">
<article class="global-publisher-music">
<section>
<div class="input-search-box" style="display: none"></div>
<div class="publish-song-box" style="display: none"></div>
</section>
</article>
</div>
<div id="global-publisher-share-box" class="global-publisher-module-box" style="display: none">
<article id="global-publisher-share" class="global-publisher-share gps">
<section>
<div class="input-link-box" style="display: none"></div>
<div class="input-comment-box" style="display: none"></div>
</section>
</article>
</div>
<div id="global-publisher-photo-box" class="global-publisher-module-box" data-action="http://shell.renren.com/481156427/photo" style="display: none">
<article id="global-publisher-photo" class="global-publisher-photo">
<section>
<div class="upload-selector" style="display: none">
<section class="multiple-uploader">
<a href="http://www.renren.com/481156427#nogo" onclick="return false;">
<h4>多张上传</h4>
<p>上传多张照片</p>
</a>
</section><section class="single-uploader">
<div class="global-publisher-photo-trigger">
<input type="file" name="file"><input style="display: none;" type="submit" name="upload" formtarget="global-publisher_upload" formenctype="multipart/form-data" formaction="http://upload.renren.com/upload.fcgi?pagetype=addpublishersingle&amp;hostid=481156427&amp;callback=window.parent.getPublisherPhotoData" formmethod="post"><input type="hidden" name="hostid" value="481156427">
</div>
<a href="http://www.renren.com/481156427#nogo" onclick="return false;">
<h4>快速上传</h4>
<p>上传一张照片</p>
</a>
</section>
<section class="video-uploader">
<a href="http://www.renren.com/481156427#nogo" onclick="return false;">
<h4>上传视频</h4>
<p>上传一段视频</p>
</a>
</section>
</div>
<div class="photo-info-box" style="display: none"></div>
</section>
</article>
</div>
</div>
<div class="global-publisher-footer" style="display: none"><div class="global-publisher-actions">
<a class="privacy-trigger" id="privacy_create_status" data-toggle="privacy" data-option="{&quot;ugcType&quot;: &quot;status&quot;}"><i class="privacy-icon picon-public"></i><input type="hidden" value="{&quot;sourceControl&quot;: 99}" autocomplete="off" name="privacyParams"><span>公开</span><i class="privacy-icon picon-arrow-down"></i></a><input class="submit" type="submit" value="发布"></div>
<div class="last-status" style="display: none;"><a ui-async="async" title="空气不错" href="http://status.renren.com/status?id=481156427">
n天前:空气不错 </a></div>
</div>
</div>
</div>
</section>
</article>
</div>
<input type="hidden" name="requestToken" value="-398063365"><input type="hidden" name="_rtk" value="b4070755"></form>
</div></div>
<div class="ugc-operations clearfix" style="display:none;">
<a stats="V6Pub_uploadphoto" class="uo-upload-photo flashUploader" href="http://www.renren.com/481156427#nogo" onclick="return false;">传照片</a>
<a stats="V6Pub_compose" class="uo-new-blog" href="http://blog.renren.com/blog/0/addBlog?bfrom=011200091">写日志</a>
</div>
</div>
<div class="miss-login-tips-holder">

</div></div>
</div><div id="main">
<div id="sidebar" class="useNewLeftBar">
<div class="site-menu-box box">
<div class="site-menu-nav-box">
<article id="site-menu-nav" class="site-menu-apps">
<h3>我常用的</h3>
<section class="site-menu-apps-base">
<div class="apps-item" data-id="1001" data-type="0" data-color="http://a.xnimg.cn/imgpro/v6/icon/feed.gif" data-normal="http://a.xnimg.cn/imgpro/v6/icon/feed-normal.png">
<div class="item-title selected">
<a href="./人人网 - 徐毅_files/人人网 - 徐毅.html" ui-async="async"><img class="icon" src="./人人网 - 徐毅_files/feed.gif"> 新鲜事</a>
</div>
</div>
<div class="apps-item" data-id="1002" data-type="0" data-notice="true" data-color="http://a.xnimg.cn/imgpro/v6/icon/matter-logo2.gif" data-normal="http://a.xnimg.cn/imgpro/v6/icon/matter-logo.gif">
<div class="item-title">
<a stats="V6Homeleft_matter" href="http://matter.renren.com/481156427?page=0&from=homeleft" ui-async="async"><img class="icon" src="./人人网 - 徐毅_files/matter-logo.gif"> 与我相关<span class="apps-item-count" id="rm_feed_count"><i>0</i></span></a>
</div>
<div class="item-editor" data-appid="1002"></div>
</div>
<div id="appsItem_166613" class="apps-item" data-id="166613" data-type="0" data-notice="true" data-color="http://a.xnimg.cn/imgpro/v6/icon/photo-color.png" data-normal="http://a.xnimg.cn/imgpro/v6/icon/photo.png">
<div class="item-title">
<a stats="V6Homeleft_album" href="http://www.renren.com/photo/481156427/album/friends?origin=50119" ui-async="async"><img class="icon" src="./人人网 - 徐毅_files/photo.png"> 相册<span class="apps-item-count" id="photoCountAlone" style="display: block;"><i>20+</i></span></a>
</div>
<div class="item-editor" data-appid="166613"></div>
</div>
<div id="appsItem_1009" class="apps-item" data-id="1009" data-type="0" data-color="http://a.xnimg.cn/imgpro/v6/icon/searchfriend-color.png" data-normal="http://a.xnimg.cn/imgpro/v6/icon/searchfriend.png">
<div class="item-title">
<a href="http://friend.renren.com/myfriendlistx.do?from=leftmenu"><img class="icon" src="./人人网 - 徐毅_files/searchfriend.png"> 好友</a>
</div>
</div>
</section>


</article>
<article id="site-menu-promote" style="display:none;" class="site-menu-apps">
<h3>推广</h3>
<div id="ad100000000119"></div>
</article>
<article id="site-menu-friend" class="site-menu-apps">
<div class="app-title clearfix">
<h3>我的分组</h3>
<a href="http://friend.renren.com/myfriendlistx.do?from=leftmenumore" target="_blank" class="more-new">更多</a>
</div>
<div id="item1010" class="apps-item" data-id="1010" data-type="0" data-color="http://a.xnimg.cn/imgpro/v6/icon/follow-color.png" data-normal="http://a.xnimg.cn/imgpro/v6/icon/follow-normal.png">
<div class="item-title">
<a href="http://www.renren.com/leftmenu/follow" ui-async="async" id="follow-left"><img class="icon" src="./人人网 - 徐毅_files/follow-normal.png"> 关注</a>
</div>
</div><section class="site-menu-apps-friend">
<div class="apps-item" id="appsItem_251397875" data-type="2" data-id="251397875" data-notice="true" data-color="http://a.xnimg.cn/imgpro/v6/icon/feedgroup-color.png" data-normal="http://a.xnimg.cn/imgpro/v6/icon/feedgroup.png">
<div class="item-title">
<a ui-async="async" href="http://www.renren.com/friendgroup/getdata/251397875"><img class="icon" src="./人人网 - 徐毅_files/feedgroup.png"> <em>高中同学</em><span class="apps-item-count" style="display: block;"><i>20+</i></span></a>
</div>
<div class="item-editor" data-appid="251397875"></div>
</div>
<div class="apps-item" id="appsItem_251397876" data-type="2" data-id="251397876" data-notice="true" data-color="http://a.xnimg.cn/imgpro/v6/icon/feedgroup-color.png" data-normal="http://a.xnimg.cn/imgpro/v6/icon/feedgroup.png">
<div class="item-title">
<a ui-async="async" href="http://www.renren.com/friendgroup/getdata/251397876"><img class="icon" src="./人人网 - 徐毅_files/feedgroup.png"> <em>大学同学</em><span class="apps-item-count" style="display: block;"><i>20+</i></span></a>
</div>
<div class="item-editor" data-appid="251397876"></div>
</div>
<div class="apps-item" id="appsItem_251474795" data-type="2" data-id="251474795" data-notice="true" data-color="http://a.xnimg.cn/imgpro/v6/icon/feedgroup-color.png" data-normal="http://a.xnimg.cn/imgpro/v6/icon/feedgroup.png">
<div class="item-title">
<a ui-async="async" href="http://www.renren.com/friendgroup/getdata/251474795"><img class="icon" src="./人人网 - 徐毅_files/feedgroup.png"> <em>老师</em><span class="apps-item-count"><i>0</i></span></a>
</div>
<div class="item-editor" data-appid="251474795"></div>
</div>
<div class="apps-item" id="appsItem_251723987" data-type="2" data-id="251723987" data-notice="true" data-color="http://a.xnimg.cn/imgpro/v6/icon/feedgroup-color.png" data-normal="http://a.xnimg.cn/imgpro/v6/icon/feedgroup.png">
<div class="item-title">
<a ui-async="async" href="http://www.renren.com/friendgroup/getdata/251723987"><img class="icon" src="./人人网 - 徐毅_files/feedgroup.png"> <em>组织</em><span class="apps-item-count" style="display: block;"><i>20+</i></span></a>
</div>
<div class="item-editor" data-appid="251723987"></div>
</div><section class="site-menu-friend-more" style="display:none;"></section>
</section></article>

</div>	
</div>
</div>
<div id="container2">
<div id="main2"><div id="content" ui-rel="prefetchframe" class="x-prefetchframecontent">

<div id="notice_system"></div><div style="display:none;">
<div id="replyDiv" class="reply-notify news-feed" style="display:none"><div class="section-header">
<h2>新留言及回复<span class="stat" id="gossipReplyCount"></span></h2>
</div>
<div id="opilist" class="feed-story"></div>
</div>
</div>
<div id="newsfeed-module-box" class="newsfeed-module-box box">
<div class="feed-module experiment" data-loadonscroll="true" data-host="">			
<div class="clearfix tabview_header">
<div class="experiment-line clearfix"></div>
<div class="experiment_type feed_type clearfix">
<div class="experiment-first item selected">
<a class="item_link" href="http://www.renren.com/481156427#nogo" stats="V6Feed_refresh" id="feedall-new">
<span id="all-feed-new">新鲜事</span>
</a>
</div>
<div class="experiment-third item">
<a class="item_link" id="group-focus2" href="http://www.renren.com/481156427#nogo">特别关注<span class="newfocuspic">new</span></a></div>
<div class="experiment-second item">
<div class="item_link" id="friend-content">
<span id="change-word" data-id="fr-con">关注内容</span>
</div>		
</div></div>	
<div class="right_bar">
<div class="btn_reload">
<a id="reload-hover2" href="http://www.renren.com/481156427#nogo"></a>
<span class="reload-tips">
<span class="reload-tip-content">
刷新
</span>
<span class="reload-tip-footer"></span>					
</span>
</div>
<div class="set_bar">
<a class="set-feed" href="http://www.renren.com/481156427#nogo">
</a>
<span class="set-tips">
<span class="set-tip-content">
新鲜事设置
</span>
<span class="set-tip-footer"></span>					
</span>
</div>
<div class="set_time  ">
<a onclick="return false;" data-id="timecontent" id="feedTabTime" href="http://www.renren.com/481156427#nogo" stats="V6Feed_timeFeed" class="feedTabTime  "></a>
<span class="time-tips">
<span class="tip-content"> 按时间排序 
</span>
<span class="tip-footer"></span>					
</span>
</div>	
</div>				
<div style="display:block;" class="new-feed-tip-miss"> <a class="miss-show-new-feed" onclick="return false;" href="http://www.renren.com/481156427#">没有新内容？但你错过了20位好友的50条新鲜事哦~</a> <span style="display:none" class="show-new-feed-loading">新鲜事读取中...</span><a id="miss-close-button" onclick="return false;" href="http://www.renren.com/481156427#"></a><span class="miss-tips" style="display:none;"><span class="miss-tip-content">今天不再出现 </span><span class="miss-tip-footer"></span></span></div></div><div class="feed-list">
<article id="newsfeed-25559225278" class="a-feed a-n-feed"><aside><figure style="" class="newsfeed-user" noavatar="" data-sourcecontrol="" data-id="483877313" data-name="彭非" data-mark="" data-source="17504371403" original_actor="404297309" original_source="17501490736" data-stype="104" data-fid="25559225278" create-time="1406118510987">
    <a stats="NF_25559225278_104_483877313" href="http://www.renren.com/profile.do?id=483877313&ref=hotnewsfeed&sfet=104&fin=0&fid=25559225278&ff_id=483877313&platform=0&expose_time=1406118668" namecard="483877313" title="彭非" target="_blank"><img src="./人人网 - 徐毅_files/h_tiny_v0fX_722900009f021376.jpg" width="50" title="彭非"></a></figure>
</aside><h3><a target="_blank" namecard="483877313" href="http://www.renren.com/profile.do?id=483877313&ref=hotnewsfeed&sfet=104&fin=0&fid=25559225278&ff_id=483877313&platform=0&expose_time=1406118668" stats="NF_25559225278_104_483877313">彭非</a>&nbsp;:&nbsp;最后一句不错~//<a href="http://www.renren.com/730220209" namecard="730220209" target="_blank">袁扬</a>://<a href="http://www.renren.com/407789135" namecard="407789135" target="_blank">张世钱</a>://<a href="http://www.renren.com/331306165" namecard="331306165" target="_blank">赵欣</a>://<a href="http://www.renren.com/338578343" namecard="338578343" target="_blank">董多</a>://<a href="http://www.renren.com/500872785" namecard="500872785" target="_blank">王文聪</a>://<a href="http://www.renren.com/274250163" namecard="274250163" target="_blank">童波<img class="emoji" alt="❤" src="./人人网 - 徐毅_files/e022.png">NFLS</a>://<a href="http://www.renren.com/352882492" namecard="352882492" target="_blank">严珅</a>: //王瑶:分享相册</h3><div class="content">
    <div class="rich-content-new"><div class="photo-nine-first">
        <div class="clearfix photo-content">
            <div class="other-item"><div class="item feed-photo-con" data-width="130" data-height="130">
                    <a class="cursor-all" target="_blank" href="http://share.renren.com/share/483877313/17504371403?from=0101010302&ref=hotnewsfeed&sfet=104&fin=0&fid=25559225278&ff_id=483877313&platform=0&expose_time=1406118668">
                        <img src="./人人网 - 徐毅_files/main_lIQI_5cd900008cff1190.jpg" onload="photoFeedImgLoaded(this)" style="margin-top: -19.825000000000003px; background: url(http://fmn.rrimg.com/fmn063/20140722/2200/main_lIQI_5cd900008cff1190.jpg) 50% 50% no-repeat;" width="130" height="169"></a>
                </div><div class="item feed-photo-con" data-width="130" data-height="130">
                    <a class="cursor-all" target="_blank" href="http://share.renren.com/share/483877313/17504371403?from=0101010302&ref=hotnewsfeed&sfet=104&fin=0&fid=25559225278&ff_id=483877313&platform=0&expose_time=1406118668">
                        <img src="./人人网 - 徐毅_files/main_EofU_4bcc00008ed5118c.jpg" onload="photoFeedImgLoaded(this)" style="margin-top: -14.950000000000003px; background: url(http://fmn.rrfmn.com/fmn059/20140722/2200/main_EofU_4bcc00008ed5118c.jpg) 50% 50% no-repeat;" width="130" height="159"></a>
                </div><div class="item feed-photo-con" data-width="130" data-height="130">
                    <a class="cursor-all" target="_blank" href="http://share.renren.com/share/483877313/17504371403?from=0101010302&ref=hotnewsfeed&sfet=104&fin=0&fid=25559225278&ff_id=483877313&platform=0&expose_time=1406118668">
                        <img src="./人人网 - 徐毅_files/main_RDWy_34bb00008d9f1191.jpg" onload="photoFeedImgLoaded(this)" style="margin-top: -14.625px; background: url(http://fmn.rrimg.com/fmn062/20140722/2200/main_RDWy_34bb00008d9f1191.jpg) 50% 50% no-repeat;" width="130" height="159"></a>
                </div><div class="item feed-photo-con" data-width="130" data-height="130">
                    <a class="cursor-all" target="_blank" href="http://share.renren.com/share/483877313/17504371403?from=0101010302&ref=hotnewsfeed&sfet=104&fin=0&fid=25559225278&ff_id=483877313&platform=0&expose_time=1406118668">
                        <img src="./人人网 - 徐毅_files/main_xrmA_6863000007b8125f.jpg" onload="photoFeedImgLoaded(this)" style="margin-top: -15.600000000000009px; background: url(http://fmn.rrfmn.com/fmn059/20140722/2200/main_xrmA_6863000007b8125f.jpg) 50% 50% no-repeat;" width="130" height="161"></a>
                </div><div class="item feed-photo-con" data-width="130" data-height="130">
                    <a class="cursor-all" target="_blank" href="http://share.renren.com/share/483877313/17504371403?from=0101010302&ref=hotnewsfeed&sfet=104&fin=0&fid=25559225278&ff_id=483877313&platform=0&expose_time=1406118668">
                        <img src="./人人网 - 徐毅_files/main_2wWr_55bb000006af125d.jpg" onload="photoFeedImgLoaded(this)" style="margin-top: -0.32500000000000284px; background: url(http://fmn.rrimg.com/fmn062/20140722/2200/main_2wWr_55bb000006af125d.jpg) 50% 50% no-repeat;" width="130" height="130"></a>
                </div><div class="item feed-photo-con" data-width="130" data-height="130">
                    <a class="cursor-all" target="_blank" href="http://share.renren.com/share/483877313/17504371403?from=0101010302&ref=hotnewsfeed&sfet=104&fin=0&fid=25559225278&ff_id=483877313&platform=0&expose_time=1406118668">
                        <img src="./人人网 - 徐毅_files/main_ukTf_34fb00008d7b1191.jpg" onload="photoFeedImgLoaded(this)" style="margin-top: -24.375px; background: url(http://fmn.rrimg.com/fmn063/20140722/2200/main_ukTf_34fb00008d7b1191.jpg) 50% 50% no-repeat;" width="130" height="178"></a>
                </div><div class="item feed-photo-con" data-width="130" data-height="130">
                    <a class="cursor-all" target="_blank" href="http://share.renren.com/share/483877313/17504371403?from=0101010302&ref=hotnewsfeed&sfet=104&fin=0&fid=25559225278&ff_id=483877313&platform=0&expose_time=1406118668">
                        <img src="./人人网 - 徐毅_files/main_hP0v_68e3000007ce125f.jpg" onload="photoFeedImgLoaded(this)" style="margin-top: -12.349999999999994px; background: url(http://fmn.xnpic.com/fmn056/20140722/2200/main_hP0v_68e3000007ce125f.jpg) 50% 50% no-repeat;" width="130" height="154"></a>
                </div><div class="item feed-photo-con" data-width="130" data-height="130">
                    <a class="cursor-all" target="_blank" href="http://share.renren.com/share/483877313/17504371403?from=0101010302&ref=hotnewsfeed&sfet=104&fin=0&fid=25559225278&ff_id=483877313&platform=0&expose_time=1406118668">
                        <img src="./人人网 - 徐毅_files/main_a9RD_1b230000008f1190.jpg" onload="photoFeedImgLoaded(this)" style="margin-top: -9.75px; background: url(http://fmn.rrfmn.com/fmn059/20140722/2200/main_a9RD_1b230000008f1190.jpg) 50% 50% no-repeat;" width="130" height="149"></a>
                </div><div class="item feed-photo-con" data-width="130" data-height="130">
                    <a class="cursor-all" target="_blank" href="http://share.renren.com/share/483877313/17504371403?from=0101010302&ref=hotnewsfeed&sfet=104&fin=0&fid=25559225278&ff_id=483877313&platform=0&expose_time=1406118668">
                        <img src="./人人网 - 徐毅_files/main_OIkQ_34db00008cf51191.jpg" onload="photoFeedImgLoaded(this)" style="margin-top: -14.625px; background: url(http://fmn.rrfmn.com/fmn061/20140722/2200/main_OIkQ_34db00008cf51191.jpg) 50% 50% no-repeat;" width="130" height="159"></a>
                </div></div>
    </div>
  </div><p class="belong">所属: <a stats="NF_25559225278_104_483877313" href="http://share.renren.com/share/483877313/17504371403?from=0101010302&ref=hotnewsfeed&sfet=104&fin=0&fid=25559225278&ff_id=483877313&platform=0&expose_time=1406118668" target="_blank">后会无期，句句犀利</a></p><p class="from">来自:<a stats="NF_25559225278_104_483877313" href="http://www.renren.com/331374347/profile?ref=hotnewsfeed&sfet=104&fin=0&fid=25559225278&ff_id=483877313&platform=0&expose_time=1406118668" target="_blank" namecard="331374347">徐小雅</a></p></div>
    </div>
  
<div class="details ui-new">
  <div class="legend">
    <span class="duration">2分钟前</span><span class="from"><a stats="NF_25559225278_104_483877313" href="http://2014.renren.com/v7" target="_blank">通过人人V7发布</a>
  </span><a data-share="{stype:&#39;create_share_div&#39;,id:17504371403,owner:483877313,host:0,ref:&#39;feed&#39;,from:&#39;0101010403&#39; }" class="share_new" href="http://www.renren.com/481156427#nogo" stats="NF_25559225278_104_483877313">分享</a><a onclick="ILike_toggleUserLike(&#39;share&#39;,&#39;17504371403&#39;,&#39;481156427&#39;, &#39;483877313&#39;,&#39;徐毅&#39;)" id="ILike17504371403" class="ilike_icon" href="http://www.renren.com/481156427#nogo" stats="NF_25559225278_104_483877313">赞</a></div><div class="feed-replies" id="feedbody25559225278"><div class="a-reply">
    <a href="http://www.renren.com/profile.do?id=483877313&ref=hotnewsfeed&sfet=104&fin=0&fid=25559225278&ff_id=483877313&platform=0&expose_time=1406118668" class="avatar" target="_blank" namecard="483877313"><img src="./人人网 - 徐毅_files/h_tiny_v0fX_722900009f021376.jpg"></a>
    <div class="reply-content"><p class="text"><a href="http://www.renren.com/profile.do?id=483877313&ref=hotnewsfeed&sfet=104&fin=0&fid=25559225278&ff_id=483877313&platform=0&expose_time=1406118668" namecard="483877313" class="name" target="_blank">彭非</a>:&nbsp;最后一句不错~</p>
      <div class="bottom-bar">
        <span class="time">2014-07-23 20:28</span>
        <div class="action"><a class="ilike_comment" href="javascript:void(0)" comment-data="{&#39;stype&#39;:&#39;share&#39;,&#39;cid&#39;:&#39;173648509427039232&#39;, &#39;rid&#39;:&#39;17504371403&#39;, &#39;uid&#39;:&#39;481156427&#39;, &#39;oid&#39;:&#39;483877313&#39;, &#39;roid&#39;:&#39;483877313&#39;, &#39;name&#39;:&#39;彭非&#39;, &#39;url&#39;:&#39;http://share.renren.com/share/483877313/17504371403?from=0101010302&#39;, &#39;liked&#39;:false}" style="margin-left: 10px;">赞</a><a data-fid="25559225278" data-uid="483877313" data-uname="彭非" data-rid="173648509427039232" href="http://www.renren.com/481156427#nogo" onclick="return false;" class="reply">回复</a>&nbsp;</div>
      </div>
    </div>
  </div></div>
<div class="feed-comment">
  <span class="avatar">
       <img src="./人人网 - 徐毅_files/a.gif">
  </span>
  <div class="comment-box">
    <textarea data-fid="25559225278" data-privacy="" autocomplete="off">评论...</textarea>
    <div class="action">
      <div class="action-l"><a href="http://www.renren.com/481156427#nogo" onclick="return false;" class="emotion">表情<span class="tip"><span class="arrow"></span>表情</span></a><a href="http://www.renren.com/481156427#nogo" onclick="return false;" class="mention">@<span class="tip"><span class="arrow"></span>点名</span></a><span class="share">
          <input id="shareThis_25559225278" type="checkbox"><label for="shareThis_25559225278">同时分享</label>
        </span></div>
      <div class="action-r">
        <a href="http://www.renren.com/481156427#nogo" onclick="return false;" class="submit submit-disabled">回复</a><span class="count"><span class="inputed">0</span>/<span class="maxlength">140</span></span>
      </div>
    </div>
  </div>
</div><div id="get-params-for-ilike-17504371403" style="display:none;"><div id="reply-params-25559225278" style="display:none;">
{
  "cid": "17504371403",
  "oid":"483877313",
  "type": "share",
  "typeNum": "4",
  "rpLength": "1",
  "userDigged":"",
  "digged":"",
  "stype":"104",
  "feedOwnerId":"483877313","loadURI": "http://comment.renren.com/comment/xoa2/",
     "sendURI": "http://comment.renren.com/comment/xoa2/create",
     "delURI": "http://comment.renren.com/comment/xoa2/commentId/remove",
     "cSection": "true"}
</div>
</div></div><div class="feed-toolbar feed-toolbar-new"><menu type="toolbar"><li><a stats="NF_NEWSDEL_25559225278_104_483877313" href="http://www.renren.com/481156427#nogo" class="delete">删除</a></li><li><menu class="feed-dropmenu">
            <label></label>
              <menu>
                 <li><a class="feed-focus-user" href="http://www.renren.com/481156427#nogo">添加彭非到特别关注</a></li>
                 <li><a class="feed-block-user" href="http://www.renren.com/481156427#nogo">屏蔽彭非的新鲜事</a></li>
              </menu>
            </menu>
          </li></menu>
</div><div class="similar-feed"><p><a stats="NF_25559225278_104_483877313" href="http://www.renren.com/481156427#nogo" data-similar-feeds="25558791347,25559006651,25559205294,">查看另外3条相似的新鲜事</a></p>
</div></article>
</div><div id="ad100000000101"></div>
<div class="feed-footer">
<div class="feed-loading" style="display: none;" data-old-display="none"><p>新鲜事读取中...</p></div>
<div class="nomore-feed" style="display:none"><p>没有新鲜事了，去看看更多<a href="http://share.renren.com/?from=nofeed">热门分享</a></p></div>
<div class="more-feed"><a id="more-feed" href="http://www.renren.com/481156427#">更多新鲜事</a></div><p class="mark-all-read"><a href="javascript:;">全部标记为已读</a></p></div></div>
</div>
<div id="feed-recommend-content-box" class="feed-recommend-content-box box"></div>
<div class="star-new">
<a style="float:right;font-size:14px;font-weight:bold" href="javascript:;" onclick="XN.DO.confirm({
message:&#39;确定要关闭人气之星么？&#39;,
callBack:function(r){
if(r) {
XN.Cookie.set(&#39;people_hot_star481156427&#39;, &#39;0&#39;, 10000, &#39;/&#39;, &#39;.renren.com&#39;);
XN.DOM.getElementsByClassName(&#39;star-new&#39;)[0].style.display=&#39;none&#39;;
}
else return;}});">×</a>		
</div></div>
<div id="sidebar2" ui-rel="prefetchframe" class="x-prefetchframecontent">
<link rel="stylesheet" href="http://s.xnimg.cn/a65683/n/apps/rp/css/fortune-all-min.css">
<div class="side-item footprint with-arrow" id="footPrint">
<div class="side-item-header clearfix">
<h4>最近来访<span> 571</span></h4>
<a title="下一页" href="http://www.renren.com/481156427#nogo" id="footForward" class="foot-forward"></a>
<a title="" href="http://www.renren.com/481156427#nogo" id="footBack" class="foot-back foot-back-disable"></a>
<a id="moreFooter" title="更多" href="http://www.renren.com/myfoot.do" class="more"></a>
</div>
<div class="side-item-body clearfix">
<div id="people-content">
<ul class="people-list" id="footPrintList" style="margin-left: 0px;"><li>
<span class="headpichold">
<a namecard="229831183" href="http://www.renren.com/profile.do?portal=homeFootprint&ref=home_footprint&id=229831183"><img src="./人人网 - 徐毅_files/tiny_ergA_f97b0005d564111a.jpg" width="30" height="30"></a>
</span><span class="time-tip first-tip"><span class="tip-content">孙嘉龙 昨天</span>
<span class="tip-footer"></span>
</span>
</li><li>
<span class="headpichold">
<a namecard="389821404" href="http://www.renren.com/profile.do?portal=homeFootprint&ref=home_footprint&id=389821404"><img src="./人人网 - 徐毅_files/h_tiny_Htmf_31b000000925111a.jpg" width="30" height="30"></a>
</span><span class="time-tip"><span class="tip-content">肖巨卿 昨天</span>
<span class="tip-footer"></span>
</span>
</li><li>
<span class="headpichold">
<a namecard="593496103" href="http://www.renren.com/profile.do?portal=homeFootprint&ref=home_footprint&id=593496103"><img src="./人人网 - 徐毅_files/men_tiny.gif" width="30" height="30"></a>
</span><span class="time-tip"><span class="tip-content">周道博 前天</span>
<span class="tip-footer"></span>
</span>
</li><li>
<span class="headpichold">
<a namecard="586890567" href="http://www.renren.com/profile.do?portal=homeFootprint&ref=home_footprint&id=586890567"><img src="./人人网 - 徐毅_files/men_tiny.gif" width="30" height="30"></a>
</span><span class="time-tip"><span class="tip-content">王广亮 7月12日</span>
<span class="tip-footer"></span>
</span>
</li><li>
<span class="headpichold">
<a namecard="570403932" href="http://www.renren.com/profile.do?portal=homeFootprint&ref=home_footprint&id=570403932"><img src="./人人网 - 徐毅_files/tiny_7kfV_47020003c066111a.jpg" width="30" height="30"></a>
</span><span class="time-tip"><span class="tip-content">张乐天 7月1日</span>
<span class="tip-footer"></span>
</span>
</li><li>
<span class="headpichold">
<a namecard="267748188" href="http://www.renren.com/profile.do?portal=homeFootprint&ref=home_footprint&id=267748188"><img src="./人人网 - 徐毅_files/h_tiny_c7L0_56260000b41e111a.jpg" width="30" height="30"></a>
</span><span class="time-tip last-second-tip"><span class="tip-content">吴思行 6月6日</span>
<span class="tip-footer"></span>
</span>
</li><li>
<span class="headpichold">
<a namecard="337840924" href="http://www.renren.com/profile.do?portal=homeFootprint&ref=home_footprint&id=337840924"><img src="./人人网 - 徐毅_files/tiny_ErIa_5447000031cd1986.jpg" width="30" height="30"></a>
</span><span class="time-tip last-tip"><span class="tip-content">卢臻 5月29日</span>
<span class="tip-footer"></span>
</span>
</li></ul>
</div></div>
<input type="hidden" value="571" id="visitCount">
<input type="hidden" value="481156427" id="userIdFP">
</div>
</div>
</div>
</div>
</div>

<div id="toolBackTo" class="back-to" style="display: none;" data-old-display="none">
<a stats="site_footer_back_to_top" class="backtotop" href="http://www.renren.com/481156427#top">返回顶部
<img stats="site_footer_back_to_top" src="./人人网 - 徐毅_files/back-tip.png" class="back-tip">
</a>
</div>
</body></html>